head(lang="en")
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="icon" href="/sources/img/1logo.ico" type="image/ico" sizes="16x16")
  link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
  link(href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet")
  link(rel='stylesheet', href='/sources/css/bootstrap.min.css')
  link(rel='stylesheet', href='/sources/css/fontawesome.all.min.css')
  link(rel='stylesheet', href='/sources/css/bootstrap-grid.min.css')
  link(rel='stylesheet', href='/assets/css/common.css')
  link(rel='stylesheet', href='/assets/css/liveChat.css')
  title Homepage
body.overlay-scrollbar
  //- Navigation
  nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.fixed-top
    .container
      a.navbar-brand(href='#') Sushi
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='#') Pizza
          li.nav-item
            a.nav-link(href='#') Appetizrs
          li.nav-item
            a.nav-link(href='#') Soup
          li.nav-item
            a.nav-link(href='#') Sushi rolls
          li.nav-item
            a.nav-link(href='#') Spaghetti
          li.nav-item
            a.nav-link(href='#') Pasta
          if !isUserLogin
            li.nav-item
              a.btn.btn-outline-success.font-weight-bold(href="/login")
                span Sign in
          else
            li.nav-item.avt-wrapper
              .avt.user-dropdown
                if isUserLogin && isUserLogin.avatarUrl != ""
                  img.user-dropdown-toggle(src=isUserLogin.avatarUrl alt='User',data-toggle='user-menu')
                else
                  i.fas.fa-user.fa-2x.user-dropdown-toggle(data-toggle='user-menu')
                ul#user-menu.user-dropdown-menu
                  li.user-dropdown-menu-item
                    a.user-dropdown-menu-link(href='#')
                      div
                        i.fas.fa-user-tie
                      span Profile
                  li.user-dropdown-menu-item
                    a.user-dropdown-menu-link(href='/logout')
                      div
                        i.fas.fa-sign-out-alt
                      span Logout
      //- Masthead
  header.masthead.text-white.text-center
    .overlay
    .container
      .row
        .col-xl-9.mx-auto.mt-5
          h1.mb-5 Bistro &bull; Bar &bull; Sushi
        .col-xl-12.mx-auto.order-now.my-padding
          a(href='#') Order Now!
  //- Gallery
  section#photos
    h1.mb-5.text-center FEATURED MENUS
    .container
      .row
        .col-lg-4.col-sm-6.portfolio-item
          img.card-img-top(src='https://images.pexels.com/photos/7658/food-pizza-box-chalkboard.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt='')
          a(href='#', data-featherlight='https://images.pexels.com/photos/7658/food-pizza-box-chalkboard.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
            h2 Pizza
        .col-lg-4.col-sm-6.portfolio-item
          img.card-img-top(src='https://images.pexels.com/photos/551997/pexels-photo-551997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt='')
          a(href='#', data-featherlight='https://images.pexels.com/photos/551997/pexels-photo-551997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
            h2 Appetizers
        .col-lg-4.col-sm-6.portfolio-item
          img.card-img-top(src='https://images.pexels.com/photos/539451/pexels-photo-539451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt='')
          a(href='#', data-featherlight='https://images.pexels.com/photos/539451/pexels-photo-539451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
            h2 Soup
        .col-lg-4.col-sm-6.portfolio-item
          img.card-img-top(src='https://images.pexels.com/photos/684965/pexels-photo-684965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt='')
          a(href='#', data-featherlight='https://images.pexels.com/photos/684965/pexels-photo-684965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
            h2 Sushi rolls
        .col-lg-4.col-sm-6.portfolio-item
          img.card-img-top(src='https://images.pexels.com/photos/64208/pexels-photo-64208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt='')
          a(href='#', data-featherlight='https://images.pexels.com/photos/64208/pexels-photo-64208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
            h2 Spaghetti
        .col-lg-4.col-sm-6.portfolio-item
          img.card-img-top(src='https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt='')
          a(href='#', data-featherlight='https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
            h2 Pasta
  //- gallery end
  //- Testimonials
  section.testimonials.text-center.mybg
    .container
      h2.mb-5 What people are saying...
      .row
        .col-lg-4
          .testimonial-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src='https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt='')
            h5 Fred S.
            p.font-weight-dark.mb-0 &quot;Lorem ipsum dolor sit amet!&quot;
        .col-lg-4
          .testimonial-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src='https://images.pexels.com/photos/324658/pexels-photo-324658.jpeg?auto=compress&cs=tinysrgb&h=350', alt='')
            h5 Margaret E.
            p.font-weight-dark.mb-0 &quot;Lorem ipsum dolor sit amet&quot;
        .col-lg-4
          .testimonial-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src='https://images.pexels.com/photos/372042/pexels-photo-372042.jpeg?auto=compress&cs=tinysrgb&h=350', alt='')
            h5 Sarah&#x9;W.
            p.font-weight-dark.mb-0 &quot;Lorem ipsum dolor sit amet!&quot;
  //- Call to Action
  section.call-to-action.text-white.text-center
    .overlay
    .container
      .row
        .col-xl-9.mx-auto
          h2.mb-4 Ready to get started?
        .col-md-10.col-lg-8.col-xl-7.mx-auto
          form
            .form-row
              .col-12.col-md-9.mb-2.mb-md-0
                input.form-control.myform.form-control-lg(type='email', placeholder='Enter your email...')
              .col-12.col-md-3
                button.btn.mybtn.btn-block.btn-lg.btn-danger(type='submit') Submit
                .msg__box
  
  //- Footer
  section#footer
    .container
      .row.text-xs-center.text-sm-left.text-md-left.mb-5
        .col-xs-12.col-sm-4.col-md-3
          h5.txt-upper About Restro
          p.myfont-color.text-justify
            | Lorem ipsum dolor sit amet! Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
          p.myfont-color FOLLOW US:
          ul.list-unstyled.list-inline.social
            li.list-inline-item
              a(href='javascript:void();')
                i.fab.fa-facebook
            li.list-inline-item
              a(href='javascript:void();')
                i.fab.fa-twitter
            li.list-inline-item
              a(href='javascript:void();')
                i.fab.fa-instagram
            li.list-inline-item
              a(href='javascript:void();', target='_blank')
                i.fa.fa-envelope
        .col-xs-12.col-sm-4.col-md-3.myfont-color
          h5.txt-upper HOURS
          p
            | LUNCH:
            br
            |  Mon-Fri: 11:30 AM - 2:30 PM
            br
            br
            |  DINNER:
            br
            |  Mon-Thu: 4:45 PM - 10:30 PM
            br
            |  Fri: 4:45 PM - 11 PM
            br
            |  Sat: 4:30 PM - 11 PM
            br
            |  Sun: 5:00 PM - 10:30 PM
          p
        .col-xs-12.col-sm-4.col-md-3
          h5.txt-upper Featured Menus
          ul.list-unstyled.quick-links
            li
              a(href='javascript:void();') Pizza
            li
              a(href='javascript:void();') Appetizers
            li
              a(href='javascript:void();') Soup
            li
              a(href='javascript:void();') Sushi rolls
            li
              a(href='javascript:void();') Spaghetti
            li
              a(href='javascript:void();') Pasta
        .col-xs-12.col-sm-4.col-md-3
          h5.txt-upper Quick links
          ul.list-unstyled.quick-links
            li
              a(href='javascript:void();') Home
            li
              a(href='javascript:void();') About
            li
              a(href='javascript:void();') Gallery
            li
              a(href='javascript:void();') Contact Us
      hr.myhr
      .row
        .col-xs-12.col-sm-12.col-md-12.mt-2.mt-sm-2.text-white
          p.h6
            | Copyright &copy; All Rights Reserved.
            a.text-green.ml-2(href='#', target='#') Sushi
        hr
  //- Footer
    //- span.scroll-top-inner
    //-   i.fa.fa-2x.fa-arrow-circle-up
  .msg__box
    .msg__minimize.bg-success
      i.msg__minimize__icon.fas.fa-comments
    .contentArea(style='display: none')
      .msg__head.bg-success Customer Support
      .formArea
        .title Please fill out this form
        form.inputFields
          .inputContainer.form-group
            input.nameInput.form-control(type='text', maxlength='20', pattern='^[a-zA-Z ]{3,}', placeholder=' * Name', required='' autofocus)
          .inputContainer.form-group
            input.emailInput.form-control(type='email', placeholder=' * Email', required='')
          input.submitBtn.bg-success(type='submit')
      .chatArea(style='display: none')
        .messages
          .msg__push--old
          .msg__push--new
        .typing
        input.form-control.inputMessage(rows="1" placeholder="Type here..." autofocus)

  script.
    let userClient = !{JSON.stringify(isUserLogin)}
  script(src='/sources/js/jquery-3.4.1.min.js')
  script(src='/sources/js/popper.min.js')
  script(src='/sources/js/bootstrap.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/assets/js/common.js')
  script(src='/assets/js/liveChat.js')
  script.
    let msgStr = !{JSON.stringify(mess)};
    if(msgStr && msgStr.length !== 0){
      alert(msgStr);
    }