block variable

head(lang="en")
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="icon" href="/sources/img/1logo.ico" type="image/ico" sizes="16x16")
  link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
  link(rel='stylesheet', href='/sources/css/bootstrap.min.css')
  link(rel='stylesheet', href='/sources/css/fontawesome.all.min.css')
  link(rel='stylesheet', href='/sources/css/bootstrap-grid.min.css')
  link(rel='stylesheet', href='/assets/css/admin/common.css')
  block style
  block title
    title= title
body.overlay-scrollbar
  block nav
    .navbar.row
      ul.navbar-nav.col-3.col-md-4.col-lg-3.pl-4
        li.nav-item.my-auto.mr-4
          a.nav-link
            i.fas.fa-bars(onclick='collapseSidebar()')
        li.nav-itemd.align-items-center.d-none.d-md-flex
          a.nav-link(href='/admin')
            img.logo.logo-light(src='/sources/img/1logo.png', alt='BookStore logo')
            img.logo.logo-dark(src='/sources/img/1logo.png', alt='BookStore logo')
          h3.m-0 BSTORE
      form.form-inline.d-flex.justify-content-center.navbar-search.w-75.col-9.col-md-6.col-lg-7
        input.form-control.mr-sm-2.w-50(type='search', name="allQuery", placeholder='Search', aria-label='Search')
        button.btn.btn-success.my-2.my-sm-0(type='submit') Search
      ul.navbar-nav.nav-right.d-none.d-md-flex.col-md-2.col-lg-2.justify-content-end
        //- li.nav-item.mode.mr-2
        //-   a.nav-link(href='#', onclick='switchTheme()')
        //-     i.fas.fa-moon.dark-icon
        //-     i.fas.fa-sun.light-icon
        li.nav-item.avt-wrapper
          .avt.user-dropdown
            i.fas.fa-user.fa-2x.user-dropdown-toggle(data-toggle='user-menu')
            ul#user-menu.user-dropdown-menu
              li.user-dropdown-menu-item
                a.user-dropdown-menu-link(href='/admin/users')
                  div
                    i.fas.fa-user-tie
                  span Profile
              li.user-dropdown-menu-item
                a.user-dropdown-menu-link(href='/logout')
                  div
                    i.fas.fa-sign-out-alt
                  span Logout
  block sidebar
    .sidebar
      ul.sidebar-nav
        li.sidebar-nav-item
          a.sidebar-nav-link(href='/admin')
            div
              i.fas.fa-tachometer-alt
            span
              | DashBoard
        li.sidebar-nav-item
          a.sidebar-nav-link(href='#')
            div
              i.fas.fa-book
            span Books
        li.sidebar-nav-item
          a.sidebar-nav-link(href='#')
            div
              i.fas.fa-users
            span Users
        li.sidebar-nav-item
          a.sidebar-nav-link(href='#')
            div
              i.fas.fa-poll
            span Categories
        li.sidebar-nav-item
          a.sidebar-nav-link(href='#')
            div
              i.fas.fa-cart-arrow-down
            span Carts
        li.sidebar-nav-item
          a.sidebar-nav-link(href='#')
            div
              i.fas.fa-spinner
            span Transactions
        //- li.sidebar-nav-item
        //-   a.sidebar-nav-link(href='/admin/statistics')
        //-     div
        //-       i.fas.fa-poll
        //-     span Statistics
        li.sidebar-nav-item
          a.sidebar-nav-link(href='/admin/messages')
            div
              i.fas.fa-inbox
            span Messages
        li.sidebar-nav-item
          a.sidebar-nav-link(href='#')
            div
              i.fas.fa-user-tie
            span Account
        li.sidebar-nav-item
          a.sidebar-nav-link(href='/logout')
            div
              i.fas.fa-sign-out-alt
            span Sign out
  .wrapper
    block content
    block pagination
      //- .container.pagination
      //-   .row
      //-     nav.mt-4(aria-label='Page navigation example')
      //-       ul.pagination
      //-         //- pre
      //-         if page == 1
      //-           li.page-item.disabled
      //-             a.page-link(href='#')
      //-               span &laquo;
      //-         else
      //-           li.page-item
      //-             a.page-link(href=route + page5Num[1])
      //-               span &laquo;
      //-         //- 123
      //-         if totalPage <= 1
      //-           li.page-item.active.disabled
      //-             a.page-link(href=route + val) 1
      //-         else if totalPage == 2
      //-           each val in [1, 2]
      //-             if val == page
      //-               li.page-item.active.disabled
      //-                 a.page-link(href=route + val)= val
      //-             else
      //-               li.page-item
      //-                 a.page-link(href=route + val)= val
      //-         else if page == totalPage
      //-           each val in [page5Num[0],page5Num[1],page5Num[2]]
      //-             if val == totalPage
      //-               li.page-item.active.disabled
      //-                 a.page-link(href=route + val)= val
      //-             else
      //-               li.page-item
      //-                 a.page-link(href=route + val)= val
      //-         else
      //-           each val in [page5Num[1], page5Num[2], page5Num[3]]
      //-             if val == page
      //-               li.page-item.active.disabled
      //-                 a.page-link(href=route + val)= val
      //-             else
      //-               li.page-item
      //-                 a.page-link(href=route + val)= val
      //-         //- next
      //-         if page == totalPage || totalPage <= 1
      //-           li.page-item.disabled
      //-             a.page-link(href='#')
      //-               span &raquo;
      //-         else
      //-           li.page-item
      //-             a.page-link(href=route + page5Num[3])
      //-               span &raquo;
  block footer
    footer
      //- .footer__container
      //-   a.navbar-brand.nav__logo(href='/')
      //-     img.logo.logo-light(src='/sources/img/1logo.png', alt='BookStore logo')
      //-   p
      //-     |BookStore - Nodejs - Expressjs - MongoDB
  script.
    let userAdmin = {
      isAdmin: !{ JSON.stringify(isUserLogin) }.isAdmin, 
      name: !{ JSON.stringify(isUserLogin) }.name, 
      email: !{ JSON.stringify(isUserLogin) }.email
    };
  script(src='/sources/js/jquery-3.4.1.min.js')
  script(src='/sources/js/popper.min.js')
  script(src='/sources/js/bootstrap.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/assets/js/admin/common.js')
  script(src='/assets/js/admin/liveChat.js')
  block script
